* {
    box-sizing: border-box;
}
body, html { 
    margin: 0;
    background-color: #FFFFFF;
    height: 100%;
    color: #000000;
    font-family: Verdana, Arial, sans-serif; 
    background-size: cover;


    /* background-image: url("/imagesproject/proyecto2/16.jpg") center center no-repeat fixed; */
}
.bg-image {
    height:100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.bg-image2 {
    height:60%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #060F27;

}
.bg-image3 {
    height:70%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #24435c;
}
.img1 {
    background-image: url("/imagesproject/proyecto2/16.jpg") ;
}

.mySkills {
    background: #060F27;
    max-width: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
}

.Welcome{
    max-width: 1300px;
    padding: 100px 300px;
    padding-bottom: 20px;
    font-family: Rajadhani;
    margin-right: 50%;
    margin-left: 10%;
}
.home-row::after {
    content: "";
    display: table;
    clear: both;
    column-count: 3;
    column-gap: 40px;
}
.home-col1,.home-col2,.home-col3, .home-col4 {
    float: left;
    width: 33%;
    margin:0;
}
.home-col1 {
    color: #FFFFFF;
    font-size: 200%;
    text-align: right;
    
}
.home-col2 {
    padding-top:30px;
    padding-left: 45px;
    width:15%;
}
.home-col3 {
    padding-top:30px;
     width:15%;
     padding-left: 50px;
}
.home-col4 {
    padding-top:30px;
    padding-left: 30px;
    width:15%;
}
.home-col1 h5 {
    color:#777777;
    text-align: right;
    font-size: 75%;
}
.contact-home, .cont-home-row2 {
    padding-top: 50px;
    text-align: center;
}
.contact-home hr{
    border: 1px solid #3fcaff;
    float: left;
    clear: both;
    width: 5%;
    padding-left: 100px;
    padding-top: 0px;
    padding-right: 50px;
    margin-left: 45%;
}
.contact-home h4 {
    font-weight: bold;
    font-size:60px;
    line-height:5px;
    margin-bottom: 2px;
    font-family: Rajdhani;
}
.contact-home h6 {
    font-size:20px;
    color: #777777;
    font-family: Rajdhani;


}
.cont-home-row2 h4{
    text-align: center;
    color: #777777;
    margin-bottom: 2px;
    font-family: Rajdhani;

}
.cont-home-row2 h6{
    color: #777777;
    font-family: Rajdhani;
}
.wrapper {
	position: relative;
	max-width: 80%;
    overflow-y:auto;
    overflow-x: hidden; 
    margin:5%;
    overflow: hidden;
    /* margin-right: 10%; */
}
h4 {
    font-family: rajdhani;
    color: #FFFFFF;
    font-size: 30px;
    text-align: center;
    padding-left: 200px;
    padding-right: 200px;
}

h2,h3,h4,h5,h6 {
    font-family: rajdhani;
    color: #FFFFFF;
}

.welcome h1 {
    font-family: rajdhani;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 72px;
    padding-top: 50px;
}

html, body {
    font: Roboto;
    text-decoration: #777777;
    overflow-x: hidden;
    
}
.topnav a {
    float: left;
    color: #777777;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 14px;
    font-family: Roboto;
    font-weight:bold;
}
.topnav {
    background-color: #333;
    overflow: hidden;
    
}
.bottomnav {
    overflow: hidden;
    background-color: #24435c;
    padding-left: 250px;
}
.bottomnav a{
    float: left;
    color: #777777;
    text-align: center;
    padding: 15px 20px;
    text-decoration: none;
    font-size: 14px;
    font-family: Roboto;
    font-weight:bold;
}
.bottomnav a:hover {
    color: #FFDB58;
}
.topnav a:hover {
    /* background-color: black; */
    color: #FFDB58;
}
.topnav a.active {
    color:#FFDB58;
}
.bottomnav a.active {
    color:#FFDB58;
}
.logo {
      float: left;
      padding-right: 120px;
      padding-left: 65px;
      padding-top: 10px;
}

button {
  background-color: black;
  color: cornflowerblue;
  font-size: 15px;
  height: 50px;
  width: 200px;
  font-family: rajdhani;
  font-weight: bold;
  border-color: black;
}
.column-01 h1{
    font-family: rajdhani;
    color: #FFFFFF;
    font-weight: bold;
     /* padding-left: 220px; */
    
    font-size: 50px;
    line-height: 45px;
   text-align: right;
}
.column-02 h4{
    font-family: Rajdhani;
    top: 0px;
    padding-top: 90px;
    font-size: 150%;
    line-height: 10px;
    color: #777777;
}
.column-03 h4{
    color: #777777;
    line-height:10px;
    padding-top: 90px;
    font-size: 150%;
    font-family: Rajdhani;
}
.row:after {
    content: "";
    display: table;
    clear: both;
    column-count: 3;
    column-gap: 40px;
}
.column-01,.column-02,.column-03 {
    float: left;
    width: 33%;
    margin:0;
}

.col-02-p, .col-03-p, .col-01-p {
    color: #777777;
    line-height: 20px;
    padding-left: 200px;

}
.col-01-p {
    text-align: right;
    font-family: Roboto;
}
.col-01-img img{
    padding-left: 100px;
    
}
.row-2 h4{
    color: #FFFFFF;
    line-height: 30px; 
    padding-left: 220px;
    margin:-60px;
    width: 1000px;
    padding-top:100px;
    font-family: Rajdhani;

}
.row-2 img {
padding-left: 200px;
padding-top: 70px;
}
.device-2 {
    padding-left: 450px;
    margin: -250px;
}
.device-3 {
    padding-left: 450px;
    margin:10px;
}
.heading-2 h1{
    color: #FFFFFF;
    
    font-family: rajdhani;
    font-weight: bold;
    font-size: 60px;
    padding-top: 200px;
    line-height: 10px;
}
.heading-2-p {
    color: #777777;
   
    padding-top: 0px;
    font-size: 15px;
    padding-bottom: 50px;
    font-family: Roboto;
}

.expreience-row:after{
    padding-left: 200px;
    padding-bottom: 30px;
    content: "";
    display: table;
    clear: both;
    column-count: 2;
    
}
.column1,.column2 {
    float: left;
    width: 30%;  
}

.column1 {
    color: #777777;
    line-height: 5px;
    padding-left: 0%;
    margin-right: 10%;
    
}
.column2 {
    color: #FFFFFF;
    border-left: 2px solid #FFFFFF;
    width: 50%;
    margin-left:-20%;
    margin-right: 10%;

}
.column1 h5 {
    padding-right: 50px;
    font-family: Rajdhani;
}
.column1 h4 {
    padding-left: 170px; 
    font-size: 20px;
    font-family: Rajdhani;
}
.column1 h2{
    font-size: 40px;
    font-family: Rajdhani;
}
 .column1-p {
   padding-left: 55px;
   font-family: Roboto;
} 
.column1-p1{
    padding-left: 150px;
    font-family: Roboto;
}
.column2-p {
    color: #777777;
    line-height: 20px;
    padding-left: 20px;
    width: 150%;
    font-family: Roboto;
}
.column2 h2{
    padding-left: 20px;
    font-family: Rajdhani;
}
.expreience-row hr {
    border: 1px solid #FFFFFF;
    float: left;
    clear: both;
    width: 100%;
    padding-left: 900px;
    padding-top: 0px;
}
.column1-h2 {
    padding-left: 10%;
    font-family: Rajdhani;
}
.column1-h4 h4 {
    padding-right: 150px;
    padding-left: 0px;
    font-family: Rajdhani;
}
.column1-2-h4 h4{
    padding-left: 20px;
    line-height: 19px;
    width:100%;
    text-align: right;
    font-family: Rajdhani;
}
.column1-r1-h4 h4{
    padding-left: 50px; 
    font-size: 20px;
    width: 100%;
    font-family: Rajdhani;
}
.column1-r2-h4 h4 {
    padding-left:120px
    font-family: Rajdhani;
}
.column1-r3-h4 h4 {
    padding-left: 80px;
    width:100%;
}
.work-heading1{
    color: #FFFFFF;
    font-size: 40px;
    padding-top: 0%;

}
.workheading-p {
    color: #777777;
    font-family:Roboto;
}
.showall,.website,.apps,.design,.photography {
    background-size: 200% auto;
    padding: 0px 35px;
    color: #222222;
    background: linear-gradient(to right,#3fcaff 0%,#a4ffb0 51%,#3fcaff)
}
.workbutton:hover {
    color: #222222;
}
.imgrow {
    position: relative;
	display: flex;
	justify-content: space-between;
	margin-left: 0.5%;
	width: 100%;
	margin-top: 40px;
    font-size: 7px;
}
.imgrow::after {
    content: "";
    clear: both;
    display: table;
    float: left;
    overflow: hidden;
}

.img-col-1, .img-col-3,  .img-col-5 {
    float: left;
    width: 30%;
    padding-bottom: 100px;
}

.box {
    width:70%;
    height:20px;
}
.blue {
    background:#314E64;
}
.hireme-heading {
    color: #FFFFFF;
    padding-left: 100px;
}
.hireme-p {
    color: #777777;
    padding-left: 100px;
    padding-top: 0px;
    font-size: 15px;
    padding-bottom: 40px;
    font-family: Roboto;
}
.hireme-col img{
    float: left;
    padding-left: 90px;
    padding-top: 70px;
    
}

.hireme-row:after {
    content: "";
    display:table;
    clear: both;
    padding-bottom: 45px;
}
.hireme-col {
    width: 30%;
    border-right: 2px solid #FFFFFF;

}

.hireme-col, .hireme-col-2 {
    float: left;
    width: 30%;
    margin-left: 10px;
    }
    
.hireme-col-2 {
    color: #777777;
    
}
.hireme-col-2 h4 {
    color: #777777;
    padding-left: 0px;
    margin-left: -80px;
    line-height: 25%;
    font-family: Rajdhani;
}
.hireme-col-2 h5 {
    padding-left: 35px;
    color: #777777;
    font-size: 120%;
    line-height: 10%;
    font-family: Rajdhani;
}
.hireme-col-2-p {
    padding-left: 30px;
    line-height: 200%;
    font-family: Roboto;
}
.hireme-col-2 h3 {
    color: #FFFFFF;
    padding-left:30px;
    font-family: Rajdhani;
}
.hireme-row hr{
    border: 1px solid #FFFFFF;
    float: left;
    clear: both;
    width: 100%;
    padding-left: 500px;
    padding-top: 0px;
    padding-right: 100px;
    
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding-top:60px;
    background-color: #24435c;
    color: #777777;
}
.footer-p{
    border-top: 2px solid #777777;
    margin-top:180px;
    color: #777777;
    padding-left:500px;
    font-family: Roboto;
    

}
.footer hr{
    background-color: #24435c;
}
.cont-home-row2 hr{
    border: 0.5px solid #777777;
    margin-top: 150px;
   
}
form {
    border: 2px solid #f1f1f1;
    background-color: #FFFFFF;
  }
  input[type=text], input[type=password] {
    width: 100%;
    padding: 10px 12px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  .log {
    background: linear-gradient(to right,#3fcaff 0%,#a4ffb0 51%,#3fcaff);
    background-size: 200% auto;
  
    color: black;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }
  button:hover {
    opacity: 0.8;
  }
  .cancelbtn {
    width: auto;
    padding: 10px 18px;
   
  }
  .container {
    padding: 16px;
  }
  @media screen and (max-width: 1px) {
    span.psw {
      display: block;
      float: none;
    }
    .cancelbtn {
      width: 100%;
    }
  }  
  .rec-heading h1 {
    color: #FFFFFF;
    font-size: 80px;
    font-family: Rajdhani;
  }
.img-col-1 h4{
    color: #777777;
    font-family: Rajdhani;
    margin-top: -50%;
}
.img-col-1 h6 {
    color: #777777;
    padding-left: 200px;
    font-size: 20px;
    margin-top: -10%;
    font-family: Rajdhani;
}
.img-col-5 h4{
    color: #777777;
    font-size: 25px;
    margin-top: -50%; font-family: Rajdhani;
}
.img-col-5 h6{
    color: #777777;
    font-size: 20px;
    padding-left: 200px;
    font-family: Rajdhani;
    margin-top: -5%;
}
.img-col-3 h4{
    color: #777777;
    font-size: 25px;
    margin-top: -50%;
    font-family: Rajdhani;
}
.imgborder {
    border-bottom: 5px solid #777777;

}
.img-col-3 h6{
    color: #777777;
    padding-left: 200px;
    font-size: 20px;
    margin-top: -5%;
    font-family: Rajdhani;
}

/* Slideshow container */
.slideshow-container {
  position: relative;

}

/* Slides */
.mySlides {
  /* display: none; */
  padding: 80px;
  
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -40px;
  padding: 16px;
  color: #888;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  position: absolute;
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
  
}

/* The dot/bullet/indicator container */
.dot-container {
  text-align: center;
  padding: 20px;
  /* background: #ddd; */
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 18px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.mySlides img{
    border-radius: 50%;
}
/* Add a background color to the active dot/circle */
.dot a.active, .dot:hover {
  background-color:#3fcaff;
}

/* Add an italic font style to all quotes
q {font-style: italic;}

/* Add a blue color to the author 
.author {color: cornflowerblue;} */
.slide-row::after{
    content: "";
    display: table;
    clear: both;
    column-count: 3;
    column-gap: 40px;
}
.slide-col-1,.slide-col-2 {
    float: left;
    width: 20%;
    margin:0;

}
.slide-col-2 {
    width:80%;
    color: #FFFFFF;
    font-size: 25px;
    padding-left:20px;
    
}
.row-skill::after {
    content: "";
    display: table;
    clear: both;
    column-count: 3;
    column-gap: 40px;
}
.col-skill-1,.col-skill-2 {
    float: left;
    width: 50%;
    margin:0;
}
meter{
    width:600px;
    background-color: #3fcaff;
}
.col-skill-1 {
    color:#777777;
}
.col-skill-1 h3{
    font-weight: bold;
    font-size: 30px;
    font-family: Rajdhani;
}
meter::-webkit-meter-optimum-value {
    background: #3fcaff; /* Green */
}
.col-skill-2 {
    padding-left: 50px;
    color:#777777;
}
.col-skill-2 h3{
    font-weight: bold;
    font-size:30px;
    padding-left:160px;
    font-family: Rajdhani;
}
.col-skill-2 h4 {
    color: #3fcaff;
    font-size:20px;
    width:100%;
    padding-right: 20px;
    padding-left: 20px;
    font-family: Rajdhani;
}
.col-skill-2 p{
    padding-left: 160px;
    font-family: Roboto;
}
